<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <h5 class="bold" i18n>Liste des langues</h5>
    </div>
  </div>

  <!-- liste des langues -->
  <div *ngFor="let langue of langues; let i = index">
    <div class="row mt-2">
      <div class="col-1" i18n> {{langue.intitule}} </div>
      <div class="col-3" i18n> <b class="text-bold">Niveau parlé:</b> {{langue.parle}} </div>
      <div class="col-3" i18n> <b class="text-bold">Niveau écrit:</b> {{langue.ecrit}}  </div>
      <div class="col-3" i18n> <b class="text-bold">Niveau compréhension:</b> {{langue.comprehension}}  </div>
      <div class="col-2" i18n>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-success active" >Modifier</button>
            <button type="button" class="btn btn-warning" >Détail</button>
            <button type="button" class="btn btn-danger" >Supprimer</button>
          </div>
        </div>
      </div>
    </div>
    <hr >

  </div>


</div>
